body.wp-admin {
  background: #f1f1f1 !important;
}

#wpbody-content {
  font-family: 'Poppins', sans-serif;
}

.wp-admin .comments-area,
.load-more-div {
  display: none;
}

.wp-admin #login-modal {
  display: block;
  position: relative;
  display: block;
  background: none;
  /* transform: translateY(12.5%); */
  padding-top: 5px;
  margin-top: 10px;
}

.wp-admin #login-modal .modal-content {
  /* margin-left: 0px; */
}




.cryptofrcomments-tabs li{
  width: 100%;
}

.wp-admin .cryptofrcomments-tabs #cryptofr-login .wp-admin .cryptofrcomments-tabs #cryptofr-comments,
.wp-admin .cryptofrcomments-tabs #cryptofr-user,
.wp-admin .cryptofrcomments-tabs .cryptofr-login-tab,
.wp-admin .cryptofrcomments-tabs .cryptofr-comments-tab,
.wp-admin .cryptofrcomments-tabs .cryptofr-user-tab,
.wp-admin .cryptofrcomments-tabs .cryptofr-publish-tab,
.wp-admin .cryptofrcomments-tabs .cryptofr-old-articles-tab,
.wp-admin .cryptofrcomments-tabs .logout-box,
.error-cryptofr-auth,
.error-cryptofr-cid {
  display: none;
}

.wp-admin .modal-input {
  padding-left: 30px;
}

.wp-admin .email-input svg,
.wp-admin .password-input svg {
  margin-top: 6px;
  margin-left: 8px;
  width: 15px;
}

td.child-table {
  background-color: #bfdbff;
}
td.details-control {
  background: url('details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('details_close.png') no-repeat center center;
}

.comments-tables table,
#marked-articles-table {
  margin: 0 auto;
  clear: both;
  width: 100% !important;
  table-layout: fixed;
}

.comments-tables table td,
#marked-articles-table td {
  word-wrap: break-word !important;
  white-space: initial !important;
}

#marked-articles-table .article-status,
#marked-articles-table .article-error,
#marked-articles-table .article-date,
#marked-articles-table .article-actions {
  width: 125px;
  max-width: 125px;
  min-width: 125px;
}

.comments-tables table .article-comment {
  width: 350px;
  max-width: 350px;
  min-width: 350px;
}

.comments-tables table .article-date {
  width: 125px;
  max-width: 125px;
  min-width: 125px;
}

.comments-tables table .article-expand {
  width: 10px;
  max-width: 10px;
  min-width: 10px;
}

.comments-tables table .article-votes {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}

.comments-tables .dataTables_wrapper {
  display: none;
}
.comments-tables td .dataTables_wrapper {
  display: block !important;
}

.user-image,
.user-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: white;
}

.container {
  max-width: 100%;
}

.logout-box svg {
  padding-top: 0px;
  padding-left: 10px;
  max-height: initial;
  vertical-align: middle;
  display: inline-block;
}

.logout-box span {
  vertical-align: middle;
  display: inline-block;
}

.article-table-container > h2 {
  cursor: pointer;
}

/**************
  LOGIN DIV RULES
  **************/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header-first-row {
  position: relative;
  height: 30px;
}

.modal-header-icon {
  position: absolute;
  left: 50%;
  top: 0px;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  transform: translate(-50%);
}

/*******************

   LOGIN MODAL

********************/

.icon_title {
  width: 40%;
  max-width: 450px;
  display: block;
  margin: 0px auto;
  margin-top: 30px;
}

.dashboard-profile{
  float: right;
}

.dashboard-header-icon{
  display: none;
  margin: 30px 0px;
  width: 95%;
}

.dashboard_title {
  width: 40%;
  max-width: 450px;
  display: inline-block;
  margin-top: 0px;
  vertical-align: middle;
}

.dashboard-version{
  display: inline-block;
  vertical-align: middle;
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 60%;
  min-width: 400px;
  max-width: 660px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}


/*******************

   Dashboard Styles

********************/

.cryptofrcomments-tabs.nav-tabs>li.active>a,.cryptofrcomments-tabs.nav-tabs>li.active>a:focus,.cryptofrcomments-tabs.nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: #434a81;
  border: none!important;
  border-bottom-color: none!important;
}

.cryptofrcomments-tabs.nav-tabs>li>a{
  border-radius: 0px!important;
}

.cryptofrcomments-tabs.nav-tabs>li{
  margin-bottom: 0px;
}

.cryptofrcomments-tabs {
  position: relative;
  width: 150px;
  height: calc(100vh - 300px);
  display: none;
  margin-right: -5px;
  margin-top: 1px;
}

.tab-content{
  display: inline-block;
  width: calc(100% - 200px)!important;
  vertical-align: top;
  padding-left: 15px;
  padding: 15px;
  /* background: white; */
  border-radius: 0px 7px 7px 0px;
  min-height: calc(100vh - 300px);
}

.tab-content .form-control{
  border: none;
  background: none;
  box-shadow: none;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  background-color: white;
  color: black;
  border: none;
}

/* Close Button */
.modal-close {
  font-weight: bold;
  display: block !important;
  position: absolute;
  right: 0px;
  z-index: 1000;
  height: 30px;
  width: 30px;
  color: #838383;
}
.modal-close .active {
  display: none;
}
.modal-close svg {
  max-width: 14px;
  position: absolute;
  margin-top: 10px;
}
.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  color: #434a81;
}

/* alternate logins */
#nodebb ul.alt-logins {
  border-left: none;
  margin-top: 0px;
  color: #838383;
  font-size: 35px;
  margin-bottom: 15px;
  margin-left: 0px;
}
#nodebb .alt-logins svg {
  margin: 0px 10px;
}
#nodebb .alt-logins a:hover {
  color: #434a81;
}

.login-button .fa-circle-notch {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.login-button.loading-button span {
  display: none;
}
.login-button.loading-button .fa-circle-notch {
  display: block;
}

/* footer */
.modal-footer {
  padding: 14px 20px;
  padding-top: 24px;
  background: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
  color: #838383;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.045em;
  display: flex;
}
.modal-footer .register-modal-open:hover {
  color: #434a81 !important;
}

.modal-footer .logo {
  margin-left: auto;
}
.modal-footer .logo img {
  height: 29px;
}

.modal-body {
  padding: 40px 70px;
  position: relative;
}

.modal-login {
  display: block;
  margin: 0 auto;
}

.modal-login:not(:last-child) {
  margin-bottom: 10px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.modal-separator {
  margin-top: 80px;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  margin-bottom: 30px;
}

.modal-separator span {
  padding: 0px 15px;
  background: white;
  font-size: 11px;
  line-height: 14px;
  color: #838383;
  margin-top: -8px;
  margin-left: -15px;
  display: inline-block;
  position: absolute;
}

.modal-login-alternative li img.active {
  display: none;
}

.modal-login-alternative li:hover img.active {
  display: inline-block;
}
.modal-login-alternative li:hover img.inactive {
  display: none;
}

.modal-or {
  position: absolute;
  top: 10%;
  left: 49%;
}

.modal-subtitle {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.045em;
  color: #5a5a5a;
}

/* inputs */
#nodebb .modal-input {
  width: 100%;
  background: #e5e5e5;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  box-shadow: inset 0px 0px 10px rgba(131, 131, 131, 0.1);
}

.email-input,
.password-input {
  margin-bottom: 15px;
}

#nodebb input:focus {
  box-shadow: 0px 0px 10px rgba(67, 74, 129, 0.2), inset 0px 0px 10px rgba(131, 131, 131, 0.1);
  color: #434a81;
  border: none;
}
*:focus {
  outline: none;
}

.email-input svg,
.password-input svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 12px;
  font-size: 19px;
  color: #838383;
}
.email-input:hover svg,
.password-input:hover svg {
  color: #434a81;
}
.email-input:hover input,
.password-input:hover input {
  box-shadow: 0px 0px 10px rgba(67, 74, 129, 0.2), inset 0px 0px 10px rgba(131, 131, 131, 0.1);
}

.modal-button {
  background: #434a81;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  letter-spacing: -0.045em;
  float: right;
  padding: 6px 18px;
  width: 120px;
  text-align: center;
  height: 38px;
}
.modal-button:hover {
  background: #6269a2;
}

.modal-forgot-password {
  font-family: Poppins;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: -0.045em;
  color: #5a5a5a !important;
  margin-top: -10px;
  float: left;
}
.modal-forgot-password:hover {
  color: #434a81 !important;
}

.modal-create-account-div {
  background-color: lightblue;
  width: 80%;
  margin: 0 auto;
}
.modal-create-account-div p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.alt-logins {
  text-align: center;
}

svg.svg-inline--fa {
  width: 25px;
  max-height: 25px;
}

.alt-logins li {
  display: inline-block;
  margin: 0px 5px;
}

.login-button.modal-button span {
  color: white;
}

.gif-post {
  max-width: 300px;
  display: block;
}

.nav-tabs {
  border: none;
}

wp-core-ui.select {
border-color: transparent;
}

/*------------------ks --------------*/
select.category-comments{
  background-color: #F1F1F1;
  border-color: transparent;
  font-size: 16px;
  color: #545454;
  padding-right: 165px;
  padding-top: 4px;
  padding-bottom: 4px;
}

input.search-comment{
  background-color: #F1F1F1;
  border-color: transparent;
  padding-right: 165px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', 'sans-serif';
  background-image: url("data:image/svg+xml;utf8,<svg fill='#434885' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.container-back{
  background-color: white;
  border-radius: 0.5em;
  padding: 2rem;
}

.container-medium{
  padding: 2rem;
  border-radius: 0.5em;
  background-color: #F1F1F1;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    color:#424B81;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link.active {
    color: #424B81;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    color: #424B81;
}

.container-panel{
background-color: #ffffff;
height: 42em;
border-bottom: 1px solid #dee2e6;
border-left: 1px solid #dee2e6;
border-right: 1px solid #dee2e6;
border-radius: 4px;
padding: 1.5em;
}

.btn-sync{
  color: #fff;
  background-color: #424B81;
  border-color: #424B81;
  margin-top: 1em;
}
.label-switch-rules{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
  font-size: medium;
  margin-left: 3%;
  color:#545454;
}

.label-censored{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
  font-size: medium;
  margin-left: 3%;
  margin-right: 20%;
}

.label1{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
}
.labelradio{
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 390;
  cursor: pointer;
  color: #333333;
  font-size: medium;
  }

.label2{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: medium;
}

.label-sync{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  color: #545454;
  margin-right: 40%;
}

.rules-margin{
  margin-top: 2em;
}

.switch-margin{
  margin-top: 1.5em;
}

.tab_content{
  display: none;
  height: 100%;
}

.tab_contentM{
  display: none;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 14px;
  left: -1px;
  bottom: -3px;
  background-color: #424B81;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #80808024;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input.synckey{
  background-color: #8080802b;
  border: transparent;
  width: 18em;
}

input.censored{
  background-color: #8080802b;
  border: transparent;
  width: 18em;
  margin-left: 1.5em;
}

.column-2 {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row-moderation:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}

/* For the elements of syncronization, we use the following classes */
.container-panel{
background-color: #ffffff;
height: 46em;
border-bottom: 1px solid #dee2e6;
border-left: 1px solid #dee2e6;
border-right: 1px solid #dee2e6;
border-radius: 4px;
padding: 1.5em;
}


#forum-division{
  margin-bottom: 20px;
}

#sync-box-small{
  background-color:rgb(243,243,244);
  border:transparent;
  width: 15em;
}

.margin-p{
  margin-top:3em;
}

.sync-key{
  margin-left:10%;
}

.sync-key2{
  padding-top: 10%;
  color: #545454;
}
.sync-key-p{
  padding: 35px 27rem 0px 0;
}

input.radio-case{
  width: 1.29rem;
  height: 1.2rem;
  border: 1px solid #424B81;
}

input[type=radio]:checked::before {
  border-radius: 50%;
  width: .9rem;
  height: .79rem;
  margin: .1rem;
  background-color: #424B81;
}

.recommended{
  color: #808080f2;
  font-size: small;
  font-weight: 100;
}

.exp-rules1{
  padding-right: 34%;
  padding-top: 22%;
}

.exp-rules2{
  font-size: 14px;
  font-weight: 10;
  color: gray;
  line-height: 1.5;
}

.exp-rules3{
  padding-right: 37%;
  padding-top: 10%;
}

.exp-rules4{
  padding-right: 40%;
  padding-top: 10%;
}

a.censored{
  color:#424B81;
}

.label-switch-forum {
  display: inline;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
  font-size: medium;
  margin-left: 3%;
  color:#545454;
}

.dataTables_length > label{
  font-weight: 100;
}

.dataTables_filter > label{
  font-weight: 100;
}

.comments-margin{
  margin-bottom: 5%;
}

#articles_info{
  display: none !important;
}

#articles_length{
  display: none !important;
}

button.buttonComment{
  background-color: #434a81;
  padding: 4px  ;
  border-radius: 16px;
  color: #F1F1F1;
  border: none;
}

#ModalComments{
  z-index: 1500;
}

.blog-name{ /*Header of modal name*/
 margin-left: 6%;
 float: left;
 margin-top:1% ;
 color:rgb(64,73,125);
 font-weight: bold;
 font-size: 15px;
}

.modal-header{
background-color: #F1F1F1;
color: rgb(64,73,125);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.btn-modal{
  color: #fff;
  background-color: #424B81;
  border-color: #424B81;
}

.modal-footer{
background: #f5f5f5;
border-radius: 0px 0px 10px 10px;
color: #838383;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.045em;
display: flex;
}

.button_plus{
  display: inline;
  margin-left: 8px;
}
/*for divide the tab of syncronization in two use the following two classes */
